<div class="grid-stack-item-content">
    <form method="POST" action="{{ url_for('client_settings', account_number=client.account_number) }}" class="form-section simple-form" style="flex: 1;">
        <h2>Add Manual User</h2>
        <div class="form-row">
            <div>
                <label for="manual_user_name">Full Name:</label>
                <input type="text" id="manual_user_name" name="manual_user_name" required>
            </div>
            <div>
                <label for="manual_user_custom_cost">Custom Cost:</label>
                <input type="number" id="manual_user_custom_cost" name="manual_user_custom_cost" step="0.01">
            </div>
        </div>
        <div>
            <label for="manual_user_billing_type">Billing Type:</label>
            <select id="manual_user_billing_type" name="manual_user_billing_type">
                <option value="Paid">Paid</option>
                <option value="No Charge">No Charge</option>
                <option value="Custom">Custom</option>
            </select>
        </div>
        <div class="button-container">
            <button type="submit" name="action" value="add_manual_user">Add User</button>
        </div>
    </form>
</div>