<div class="grid-stack-item-content">
    <form method="POST" action="{{ url_for('client_settings', account_number=client.account_number) }}" class="form-section simple-form" style="flex: 1;">
        <h2>Add Manual Asset</h2>
        <div class="form-row">
            <div>
                <label for="manual_asset_hostname">Hostname:</label>
                <input type="text" id="manual_asset_hostname" name="manual_asset_hostname" required>
            </div>
            <div>
                <label for="manual_asset_custom_cost">Custom Cost:</label>
                <input type="number" id="manual_asset_custom_cost" name="manual_asset_custom_cost" step="0.01">
            </div>
        </div>
        <div>
            <label for="manual_asset_billing_type">Billing Type:</label>
            <select id="manual_asset_billing_type" name="manual_asset_billing_type">
                <option value="Workstation">Workstation</option>
                <option value="Server">Server</option>
                <option value="VM">VM</option>
                <option value="No Charge">No Charge</option>
                <option value="Custom">Custom</option>
            </select>
        </div>
        <div class="button-container">
            <button type="submit" name="action" value="add_manual_asset">Add Asset</button>
        </div>
    </form>
</div>