<div class="grid-stack-item-content">
    <h2>Billing Receipt for {{ selected_billing_period }}</h2>
    <table class="receipt-table">

        <tr>
            <td class="label"><strong>User Charges ({{ receipt_data.billed_users|length }})</strong></td>
            <td class="value"><strong>${{ "%.2f"|format(receipt_data.total_user_charges) }}</strong></td>
        </tr>
        <tr><td colspan="2" style="padding-left: 40px;">
            <details>
                <summary>View Details</summary>
                <table style="width:100%; border:none; box-shadow:none; margin-top: -10px;">
                {% for user in receipt_data.billed_users %}
                <tr class="itemized-detail"><td class="label" style="border:none;">{{ user.name }} ({{ user.type }})</td><td class="value" style="border:none;">${{ "%.2f"|format(user.cost) }}</td></tr>
                {% endfor %}
                </table>
            </details>
        </td></tr>

        <tr>
            <td class="label"><strong>Asset Charges ({{ receipt_data.billed_assets|length }})</strong></td>
            <td class="value"><strong>${{ "%.2f"|format(receipt_data.total_asset_charges) }}</strong></td>
        </tr>
        <tr><td colspan="2" style="padding-left: 40px;">
            <details>
                 <summary>View Details</summary>
                 <table style="width:100%; border:none; box-shadow:none; margin-top: -10px;">
                 {% for asset in receipt_data.billed_assets %}
                 <tr class="itemized-detail"><td class="label" style="border:none;">{{ asset.name }} ({{ asset.type }})</td><td class="value" style="border:none;">${{ "%.2f"|format(asset.cost) }}</td></tr>
                 {% endfor %}
                 </table>
            </details>
        </td></tr>

        <tr>
            <td class="label"><strong>Custom Line Items ({{ receipt_data.billed_line_items|length }})</strong></td>
            <td class="value"><strong>${{ "%.2f"|format(receipt_data.total_line_item_charges) }}</strong></td>
        </tr>
        <tr><td colspan="2" style="padding-left: 40px;">
            <details>
                 <summary>View Details</summary>
                 <table style="width:100%; border:none; box-shadow:none; margin-top: -10px;">
                 {% for item in receipt_data.billed_line_items %}
                 <tr class="itemized-detail"><td class="label" style="border:none;">{{ item.name }} ({{ item.type }})</td><td class="value" style="border:none;">${{ "%.2f"|format(item.cost) }}</td></tr>
                 {% endfor %}
                 </table>
            </details>
        </td></tr>

        <tr><td class="label" style="padding-top:10px;"><strong>Ticket Charges</strong></td><td class="value" style="padding-top:10px;"><strong>${{ "%.2f"|format(receipt_data.ticket_charge) }}</strong></td></tr>
        <tr class="itemized-detail"><td class="label">Total Hours This Period ({{ "%.2f"|format(receipt_data.hours_for_billing_period) }} hours)</td><td class="value"></td></tr>
        <tr class="itemized-detail"><td class="label">Pre-paid Monthly Hours</td><td class="value">-{{ "%.2f"|format(receipt_data.prepaid_hours_monthly) }} hours</td></tr>
        <tr class="itemized-detail"><td class="label">Pre-paid Yearly Hours (Remaining)</td><td class="value">-{{ "%.2f"|format(remaining_yearly_hours) }} hours</td></tr>
        <tr class="itemized-detail"><td class="label">Billable Hours ({{ "%.2f"|format(receipt_data.billable_hours) }} hours × ${{ "%.2f"|format(effective_rates.per_hour_ticket_cost) }})</td><td class="value">${{ "%.2f"|format(receipt_data.ticket_charge) }}</td></tr>

        <tr><td class="label"><strong>Backup Charge</strong></td><td class="value"><strong>${{ "%.2f"|format(receipt_data.backup_charge) }}</strong></td></tr>
        <tr class="itemized-detail"><td class="label">Workstation Backup Base Fee ({{ backup_info.backed_up_workstations }} devices × ${{ "%.2f"|format(effective_rates.backup_base_fee_workstation) }})</td><td class="value">${{ "%.2f"|format(receipt_data.backup_base_workstation) }}</td></tr>
        <tr class="itemized-detail"><td class="label">Server Backup Base Fee ({{ backup_info.backed_up_servers }} devices × ${{ "%.2f"|format(effective_rates.backup_base_fee_server) }})</td><td class="value">${{ "%.2f"|format(receipt_data.backup_base_server) }}</td></tr>
        <tr class="itemized-detail"><td class="label">Total Included Storage</td><td class="value">{{ "%.2f"|format(receipt_data.total_included_tb) }} TB</td></tr>
        <tr class="itemized-detail"><td class="label">Total Used Storage</td><td class="value">{{ "%.2f"|format(total_backup_tb) }} TB</td></tr>
        <tr class="itemized-detail"><td class="label">Storage Overage ({{ "%.2f"|format(receipt_data.overage_tb) }} TB × ${{ "%.2f"|format(effective_rates.backup_per_tb_fee) }})</td><td class="value">${{ "%.2f"|format(receipt_data.overage_charge) }}</td></tr>
        <tr class="total-row"><td class="label">Estimated Total</td><td class="value">${{ "%.2f"|format(receipt_data.total) }}</td></tr>
    </table>
</div>