<div class="grid-stack-item-content">
    <h2>Client Features</h2>
    {% for feature_type, feature_value in effective_rates.items() %}
        {% if feature_type.startswith('feature_') %}
            {% set feature_name = feature_type.replace('feature_', '').replace('_', ' ') %}
            <p><strong>
            {% if feature_name in ['soc', 'sat'] %}
                {{ feature_name|upper }}
            {% else %}
                {{ feature_name|title }}
            {% endif %}
            :</strong> {{ feature_value }}</p>
        {% endif %}
    {% endfor %}
</div>