<div class="grid-stack-item-content form-section">
    <h2>Feature Overrides</h2>
    <form method="POST" action="{{ url_for('client_settings', account_number=client.account_number) }}">
        <div class="form-grid">
            <div></div>
            <div class="header default">Default Value</div>
            <div class="header override">Override Value</div>
            <div class="header">Enable</div>

            {% for feature_type, options in feature_options.items() %}
                {% set name = 'feature_' + feature_type.lower().replace(' ', '_') %}
                {% set short_name = feature_type.lower().replace(' ', '_') %}
                <label>{{ feature_type }}</label>
                <input type="text" value="{{ defaults[name] if defaults and name in defaults.keys() else 'Not Included' }}" disabled>
                <select name="{{ name }}">
                    <option value="">-- No Override --</option>
                    {% for option in options %}
                    <option value="{{ option.option_name }}" {% if overrides and name in overrides and overrides[name] == option.option_name %}selected{% endif %}>{{ option.option_name }}</option>
                    {% endfor %}
                </select>
                <input type="checkbox" name="override_feature_{{ short_name }}_enabled" {% if overrides and ('override_feature_' + short_name + '_enabled') in overrides and overrides['override_feature_' + short_name + '_enabled'] %}checked{% endif %} title="Enable Override">
            {% endfor %}
        </div>
        <div class="button-container">
            <button type="submit" name="action" value="save_overrides">Save All Overrides</button>
        </div>
    </form>
</div>